@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

:root {
  --main-bg-color: #151515;
  --secondry-bg-color: #000000;
  --light-color: #ffffffb9;
}

body::selection {
  color: #000000;
  background-color: #ff551c;
}

/* #cursor {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  border: 1px solid #ffffff85;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
} */

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
}

#main {
  position: relative;
}

#loader {
  height: 100%;
  width: 100%;
  background-color: var(--secondry-bg-color);
  position: fixed;
  z-index: 999;
  padding: 7rem 10rem;
}

#loader h1 {
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 6rem;
}

.increas-num {
  width: 13rem;
  height: 4.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.increas-num h5 {
  font-family: "Cursive";
  font-size: 2.5rem;
  font-weight: 100;
}

.line {
  height: fit-content;
  overflow: hidden;
}

.line1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.line3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

.line3 h2 {
  font-size: 5rem;
  text-transform: uppercase;
  animation: anima 1s infinite;
}

@keyframes anima {
  0% {
    font-family: "Poppins";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
  }
  100% {
    font-family: "silk serif";
    color: transparent;
  }
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
  position: relative;
}

.page1 #logo {
  width: 9rem;
}

.page1 #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

#nav .nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#nav .nav-part2 a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Indie Flower";
}

.heroText {
  width: 75%;
  margin-left: 25%;
  overflow: hidden;
}

.heroText:nth-child(2) {
  margin-top: 6.8rem;
}

.heroText h1 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 6rem;
  font-family: sans-serif;
  font-weight: 600;
  transition: -webkit-text-stroke ease 0.3s;
}

#hero1::before {
  content: "01";
  position: absolute;
  left: 18%;
  top: 27%;
  font-size: 3rem;
  font-family: "Silk serif";
}

#hero3 h1:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.page2 {
  height: 100vh;
  width: 100%;
  position: relative;
}

#video-container {
  height: 60vh;
  width: 70vw;
  position: relative;
  left: 29%;
}

#video-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#videoPlayer {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #ff551c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10%;
  left: 70%;
  z-index: 999;
}

#videoPlayer i {
  font-size: 2.3rem;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 0 4rem;
  margin-bottom: 5rem;
}

#page3Content {
  width: 75%;
  position: relative;
  left: 20%;
}

#page3Content h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
}

#page3Content h1::before {
  content: "02";
  position: absolute;
  left: -15%;
  top: 12%;
  font-size: 3rem;
  font-family: "Silk serif";
}

#image-container {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

#image-container .images {
  height: 25rem;
  width: 20rem;
  flex-shrink: 0;
}

#image-container .images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#image-container .images:nth-child(2) {
  height: 30rem;
  width: 20rem;
}

.page3Circle1 {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-left: 5rem;
  position: relative;
}

.page3Circle1 .innerCircle {
  height: 100%;
  width: 100%;
  background-color: var(--secondary);
  color: #000;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 9;
  scale: 0;
  transition: all ease 0.5s;
}

.page3Circle1:hover .innerCircle {
  scale: 1;
}

.page3Circle1 svg {
  height: 5rem;
}

.page3Circle2 {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 2px solid var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.page3Circle2 svg {
  height: 5rem;
  transform: rotate(-45deg);
}

.page4 {
  min-height: 210vh;
  width: 100%;
  background-color: var(--main-bg-color);
  position: relative;
  padding: 1rem;
}

#page4Content {
  width: 75%;
  position: relative;
  left: 20%;
}

#underline {
  height: 0.1rem;
  background: var(--light-color);
  margin-bottom: 1.8rem;
}

#page4Content h1 {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: 900;
}

#page4Content h1::before {
  content: "03";
  position: absolute;
  left: -15%;
  top: 6%;
  font-size: 3rem;
  font-family: "Silk serif";
}

#page4Content p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  width: 60%;
  margin-bottom: 3rem;
}

.page4 .wrapper {
  width: 70%;
  position: relative;
  left: 20%;
  display: flex;
  gap: 2.5rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}

.page4 .wrapper img {
  width: 30rem;
  height: 85vh;
  object-fit: cover;
  border-radius: 0.5rem;
}

.page4-poster2 {
  position: absolute;
  left: 50%;
  top: 60%;
}

.page4-poster2 img {
  width: 30rem;
  height: 85vh;
  object-fit: cover;
  border-radius: 0.5rem;
  transform: rotate(3deg);
  z-index: 999;
}

.underText {
  width: 70%;
  margin-left: 20%;
  margin-bottom: 3.5rem;
}

.underText span {
  font-size: 0.9rem;
}

.page5 {
  min-height: 100vh;
  width: 100%;
  padding-top: 5%;
  position: relative;
}

.move {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 0 3rem;
  position: relative;
}

.move h1 {
  font-size: 6rem;
  text-transform: uppercase;
  display: inline-block;
  line-height: 7rem;
  padding-right: 2rem;
  min-width: 200%;
}

.moveText1 h1 {
  animation-name: moveRightToLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moveText2 h1 {
  animation-name: moveLeftToRight;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveRightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes moveLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

footer {
  min-height: 100vh;
  width: 70%;
  padding-top: 5rem;
  position: relative;
  left: 20%;
  padding-right: 2rem;
}

footer h1 {
  font-size: 5rem;
  position: relative;
}

footer h1::before {
  content: "04";
  position: absolute;
  left: -13%;
  top: 10%;
  font-size: 3rem;
  font-family: "Silk serif";
}

.socialHandle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5rem;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-right: 3.5rem;
}

.socials a {
  text-decoration: none;
  margin-bottom: 0.2rem;
  font-size: 1.6rem;
}

.title {
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.address {
  width: 30%;
}

.address span {
  font-size: 1.2rem;
  line-height: 2rem;
}

.msg a {
  text-decoration: none;
  font-size: 1.2rem;
}

._canvas_container {
  z-index: 99999 !important;
  pointer-events: none;
}
